*,
*::after,
*::before {
  box-sizing: border-box;
  color: white;
}

:root {
  --cell-size: 150px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.containers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10xp;
  margin: 0 20px 0 20px;
  gap: 50px;
}

.scorBord {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.scorBord > h2 {
  font-size: 2rem;
}
.scorBord > p {
  font-size: 2rem;
  background-color: crimson;
  padding: 10px 20px;
}

.selectxo {
  padding: 20px;
}

.btn {
  padding: 1px 20px;
  font-size: 2rem;
  background-color: black;
  color: white;
  border: 2px solid white;
}

.btn-select {
  background-color: white;
  color: black;
}

.restart {
  font-size: 2rem;
  color: black;
  padding: 5px 15px;
  border-radius: 10px;
}

.restart:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.gamebord {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  border: 2px solid white;
  width: var(--cell-size);
  height: var(--cell-size);
}

/* remove border  */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
  border-radius: 10px;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
  border-radius: 10px;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
  border-radius: 10px;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
  border-radius: 10px;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 5rem;
}

.winning-message.show {
  display: flex;
}

/* 
.cell.x,
.cell.cell.o {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: white;
}

.board.x .cell:not(.x):not(.o):hover::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: '';
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);

  position: absolute;
}

.cell.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cell.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: black;
} */
